extends bootstrap_base
block head
  title 编辑器 - NODE-PI
  -let title, cover, abstract, content, cids;
block content
  .container-fluid
    .row
      br
      .col-xs-12.col-md-5
        form
          form-group
            label.control-label 标题
            input.form-control#title(type="text" placeholder="title" value=title)
            br
          form-group
            label.control-label 摘要
            textarea.form-control#abstract(type="text" placeholder="abstract" rows=5)=abstract
            br
          form-group
            label.control-label 正文
            textarea.form-control#content(type="text" placeholder="content" rows=20)=content
          form-group
            label.control-label 分类（,分隔）
            input.form-control#cids(type="text" placeholder="cids" value=cids)
            -for(let f of data.forums)
              a(href=`/f/${f._id}`)=`[${f._id}] ${f.displayName}`
              span &nbsp;&nbsp;&nbsp;
            br
          form-group
            label.control-label 封面
            input.form-control#cover(type="text" placeholder="cover" value=cover)
            br
      .col-xs-12.col-md-5.col-md-offset-1(style='border: 1px solid #aaa;border-radius: 5px;min-height: 60rem;')
        h3#title_.text-center
        p#abstract_
        #content_.article-content
block scripts
  script(src='/js/common.js')
  script(src='/markdown/markdown-it.js')
  script(src='/js/script_editor.js')
