extends bootstrap_base
block head
  title= `${data.article.title} - NODE-PI`
  meta(name="keywords" content=data.article.title)
  meta(name="description" content=data.article.abstract)
  link(rel="stylesheet" href="/highlight/styles/agate.css")
block content
  -const article = data.article;
  .container
    .row
      .col-xs-12.col-md-12
        -const detailedTime = true;
        include module_article_info
        br
        h2.text-center= article.title
        br
        p= article.abstract
        div.article-content!= markdown(article.content)
        div.text-center
          button.btn.btn-success#thumbUp(onclick=`thumbUp(${data.article._id})`)
            span.oi.oi-thumb-up(title="icon name" aria-hidden="true")
            span &nbsp;点赞
          if data.user
            span &nbsp;
            a.btn.btn-success(href=`/m/add?a=${data.article._id}`) 编辑
        br
        br
        br
  include module_footer
block scripts
  script(src='/js/common.js')
  script(src='/js/script_article.js')
  script(src="/highlight/highlight.pack.js")
  script hljs.initHighlightingOnLoad();