.article-info
  if detailedTime
    span(style='color: #aaa;')= article.toc.toLocaleString()
  else
    span(style='color: #aaa;')= fromNow(article.toc)
  span &nbsp;&nbsp;&nbsp;&nbsp;
  span.oi.oi-dial(title="icon name" aria-hidden="true")
  a(href=`/a/${article._id}`)
    span!= `&nbsp;${article.visit}次阅读`
  span &nbsp;&nbsp;&nbsp;&nbsp;
  span.oi.oi-thumb-up(title="icon name" aria-hidden="true")
  a(href=`/a/${article._id}#thumbUp`)
    span!= `&nbsp;${article.thumbUp}个赞`
  span &nbsp;&nbsp;&nbsp;&nbsp;
  if article.forums.length !== 0
    span.oi.oi-tags(title="icon name" aria-hidden="true")
    -for(let f of article.forums)
      a(href=`/c/${f._id}` title=f.description)
        span!= `&nbsp;${f.displayName}&nbsp;`
    span &nbsp;&nbsp;&nbsp;&nbsp;